<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>seopack</id>
    <name>
        <lang name="default">SEOPack</lang>
    </name>
    <author>
        <lang name="default">Klaus, AltoCMS Team, Web studio stfalcon.com</lang>
    </author>
    <homepage>http://altocms.com</homepage>
    <version>1.1.1</version>
    <dirname>seopack</dirname>
    <requires>
        <alto>
             <version>1.1.0b</version>
        </alto>
		<system>
            <php>5.3.0</php>
        </system>
    </requires>
    <description>
        <lang name="default">Manual SEO parameters control for any website pages, includng automatic optimization site for search engines</lang>
        <lang name="russian">Ручное управление SEO параметрами любых страниц сайта / автоматическая генерация мета тегов keywords и description в зависимости от контента страницы. Логика автоматической генерации базируется на разработках студии stfalcon</lang>
    </description>
</plugin>
