<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">SEOPack</lang>
    </name>
    <author>
        <lang name="default">Klaus, AltoCMS team, Web studio stfalcon.com</lang>
    </author>
    <homepage>http://altocms.com</homepage>
    <version>0.4.0</version>
    <requires>
        <livestreet>1.0</livestreet>
        <alto>
            <version>0.9.7.1</version>
        </alto>
    </requires>
    <description>
        <lang name="default">Manual SEO parameters control for any website pages, includng automatic optimization site for search engines</lang>
        <lang name="russian">Ручное управление SEO параметрами любых страниц сайта / автоматическая генерация мета тегов keywords и description в зависимости от контента страницы. Логика автоматической генерации базируется на разработках студии stfalcon</lang>
    </description>
</plugin>
